<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<center><h1><strong>Impressum</strong></h1>
<p>Anbieter:<br />Messdiener St. Pius Gemeinde Wiedenbrück<br />Südring 185<br />33378 Rheda-Wiedenbrück</p>
<p>Kontakt:<br />E-Mail: messdiener_st.pius@yahoo.de</p>
<p> </p> </center>
<!--<p>Bei redaktionellen Inhalten:</p>
<p>Verantwortlich nach § 55 Abs.2 RStV<br />Moritz Schreiberling<br />Musterstraße 2<br />80999 München</p>-->