<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1> <i class="fa fa-quote-right w3-margin-64 w3-text-red w3-padding-large"></i></h1>
        <p>Einen neuen Account erstellen oder anmelden</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Registrieren</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Anmelden</a>
      </div>
    </div>
  </div>