<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Messdiener St. Pius</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/messen/plan">Messdienerplan</a>
              </li>
        </ul>
      </div>
    </nav>
  </header>
  <br> <br>
<table>
    <thead>
        <tr>
            <th>Messe</th>
            <th>Messdiener</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>12.03.2022</td>
                <td></td>
            </tr>
            <tr>
                <td>19.03.2022</td>
                <td></td>
            </tr>
            <tr>
              <td>26.03.2022</td>
              <td></td>
          </tr>
          <tr>
            <td>02.04.2022</td>
            <td></td>
        </tr>
        <tr>
          <td>09.04.2022</td>
          <td></td>
      </tr>
      <tr>
        <td>16.04.2022</td>
        <td></td>
    </tr>
    </tbody>
</table>